# Additional Visulaizations

In [3]:
#I want to get a closer look at the highest importance feature
#I found to date.
import pandas as pd

feature = 'L3_S47_F4191'

folder = 'bosch-production-line-performance/'

response = pd.read_csv(folder + 'train_numeric.csv', usecols = ['Response'], 
               squeeze = True)

observe = pd.read_csv(folder + 'train_categorical.csv', usecols = [feature], 
                        squeeze = True, dtype = str)

In [4]:
response.shape, observe.shape

((1183747,), (1183747,))

In [5]:
observe.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: L3_S47_F4191, dtype: object

In [6]:
response.head()

0    0
1    0
2    0
3    0
4    0
Name: Response, dtype: int64

In [7]:
observe.value_counts()

T1    59955
Name: L3_S47_F4191, dtype: int64

In [8]:
response.value_counts()

0    1176868
1       6879
Name: Response, dtype: int64

In [17]:
#that is way less exciting than I thought it would be. I wonder what percent
#of 1 classes have a T1

obs_resp = pd.concat([observe, response], axis = 1)

obs_resp.shape

(1183747, 2)

In [18]:
obs_resp.head()

  L3_S47_F4191  Response
0          NaN         0
1          NaN         0
2          NaN         0
3          NaN         0
4          NaN         0

In [22]:
obs_resp[obs_resp['Response'] == 1]['L3_S47_F4191'].value_counts()

T1    304
Name: L3_S47_F4191, dtype: int64